@font-face {
    font-family: myFirstFont;
    src: url(/fonts/Neucha-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'myFirstFont', cursive;  
}

main{
    display: inline-block;
    margin: 2%;
    padding: 15px;
    position: relative;
}

body{
    text-align: center;
    background: linear-gradient(to bottom, #16D642, #EAF471);
    min-height: 100vh;
}

.pokedex{
    width: 100%;
    max-width: 425px;
}

.imagemPoke{
    position: absolute;
    left: 50%;
    bottom: 55%;
    transform: translate(-67%,10%);
    height: 14%;
}

/* .pokedex:hover{
    box-shadow: 10px 10px 5px 12px red;
} */